:root{
  --primary-color: #2AB7A9;
  --background-color: #FFFFFF;
  --text-color: #333333;
  --accent-color: #FFF3B0;
  --deep-teal: #006d77;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
/* style dasborad contnet */
.dasbord{
  display: grid;
  grid-template-columns: repeat(1, 250px) repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
  background-color: var(--background-color);
}
/* end style dasborad contnet */
/* style aside navbar*/
.navbar-side{
  background-color: var(--primary-color);
  color: #333;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.navbar li a{
  list-style: none;
  text-decoration: none;
  color: #333;
}
.navbar ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.navbar li{
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
.navbar li:hover{
  background-color: var(--deep-teal);
  transition: background-color 0.3s ease;
  color: white;
}
.up-tols{
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  height: auto;
}
.up-tols button{
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.up-tols button:hover{
  transform: scale(1.1);
  background-color: var(--deep-teal);
  color: white;
}
/* end style nav */
/* stylling main */
.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.search input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
  margin-right: 10px;
}
.first-con{
background: #2AB7A9;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
/* styling main end */

/* styling grid 2 */
.container-property{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/* styling grid 2 end */

/* styling main kanan */
.container-card{
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 10px;
}
.card{
  background: linear-gradient(145deg, #2AB7A9, #70C1B3, #B2DBD5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
/* styling main kanan */
.main-kiri{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.container-card2{
  gap: 20px;
}
.card2{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #2AB7A9;
}
